[submodule "lib/PubSubClient"]
	path = lib/PubSubClient
	url = https://github.com/Imroy/pubsubclient.git
[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lib/ArduinoJSON"]
	path = lib/ArduinoJSON
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/thinx-firmware-esp32"]
	path = lib/thinx-firmware-esp32
	url = git@github.com:suculent/thinx-firmware-esp32.git
[submodule "lib/esp32-http-update"]
	path = lib/esp32-http-update
	url = https://github.com/suculent/esp32-http-update
